.item {
  width: 633px;
  height: auto;
  padding: 20px 26px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  position: relative;
}

.delete {
  position: absolute;
  top: 18px;
  background: none;
  border: 0;
  right: 28px;
  cursor: pointer;
}

.itemTop {
  display: flex;
  align-items: center;
}

.txt {
  padding-left: 23px;
}

.title {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #1c1c27;
  padding-bottom: 12px;
}

.price {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #aaaaaa;
}

.buttons {
  display: inline-flex;
  align-items: center;
  padding-top: 20px;
}

.buttons p {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #000000;
  padding: 0 20px;
}

.buttons button {
  width: 30px;
  height: 30px;
  background: #ffce7f;
  border: 0;
  border-radius: 50%;
  font-weight: 600;
  font-size: 22px;
  line-height: 21px;
  color: white;
  cursor: pointer;
}
